.navbar {
    height: 80px;
    position: absolute;   
    top: 0;
    width: 100%;
    z-index: 10;
    gap: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0)
    );
}
.logo {
    height: 88px;        
    width: 280px;
    background-image: url("netflix-removebg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
}


.signup-btn {
    display: flex;
    align-items: center;
}

.signup-btn button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.signup-btn button:hover {
    background-color: #f6121d;
    transform: scale(1.05);
}

.signup-btn button:active {
    transform: scale(0.95);
}
.navbar a{
    text-decoration: none;
    color: white;
    justify-self: left;
}
.navbar a:hover{
    transition: 0.5s;
    color: #e50914;
}
.navbar input{
    padding: 6px 25px;
    width: 25vw;
    border: none;
    color:white;
    background: transparent;
}
.fav i{
   font-size: 16px;
}
.mobile-menu , .menu-icon{
    display: none;
}
.laptop-menu , .laptop-menu a{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
@media (max-width: 868px) {
    .navbar {
        height: 65px;
        padding: 0 20px;
    }

    .logo {
        height: 50px;
        width: 170px;
    }

    .signup-btn button {
        padding: 6px 12px;
        font-size: 12px;
    }
}
@media (max-width: 660px) {
    .navbar a{
        gap: 7px;
    }
    .mobile-menu , .menu-icon{
      display: block;
      font-size: 17px;
    }
    .laptop-menu{
        display: none;
    }
    .mobile-menu{
       display: flex;
       flex-direction: column;
       gap: 17px;
       position: absolute;
       width: 100%;
       top: 67%;
       left: 0;
       background-color: black;
       padding: 20px;
    }
    .mobile-menu a{
       font-size: 16px;
       border-bottom: 1px solid #333;

    }
    .navbar input{
        width: 80%;
        padding: 5px;
        font-size: 13px;
    }
}


@media (max-width: 480px) {
    .logo {
        height: 65px;
        width: 130px;
    }

    .signup-btn button {
        padding: 9px 15x;
        font-size: 12px;
    }
}